<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entitiescatastro" connectionString="metadata=res://*/ModeloGestionCatastral.ModelCatastro.csdl|res://*/ModeloGestionCatastral.ModelCatastro.ssdl|res://*/ModeloGestionCatastral.ModelCatastro.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2f833638-c209-49ff-9238-a2f301222db5.sqlserver.sequelizer.com;initial catalog=db2f833638c20949ff9238a2f301222db5;persist security info=True;user id=mysknwifiliumcmq;password=onm2RhoDnxNTvsGVSA2vPo8AiEfmwnECJWfwRwAwSmkioHXb3Febog78nSRmcbh8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>